body{
  padding: 0;
  margin: 0;
  background-color: #eaeded; 
  height: 100%;
}

html{
  scroll-behavior: smooth !important; /*per inserire una transizione delicata*/
}

.navbar{
  background-color: #131921;
  display: grid;
  height: 12%;
  padding: 0;
}

.buttonHeader{
  position: relative;
  top: 0%;
  text-decoration: none;
  padding-right: 20%;
}

.buttonHeader div:first-of-type{
  display: grid;
  position: relative;
  top: -15%;
  left: 15%;
  width: max-content;
}

.buttonHeader i{
  position: relative; 
  top: 50%;
}

.insertText .dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
}

.w{
  color: white !important;
}

.insertText{
  position: relative;
  left: 4%;
}

.buttonAccedi{
  position: relative;
  top: 0%;
  text-decoration: none;
  left: 60%;
  padding: 10px;
}

.buttonAccedi div:first-of-type{
  display: grid;
  position: relative;
  width: max-content;
}

.buttonOrdini{
  position: relative;
  top: 0%;
  text-decoration: none;
  left: 120%;
  padding: 10px;
}

.buttonOrdini div:first-of-type{
  display: grid;
  position: relative;
  width: max-content;
}

.buttonCarrello{
  position: relative;
  top: 0%;
  text-decoration: none;
  left: 150%;
  padding-right: 60%;
}

.buttonCarrello div:first-of-type{
  display: grid;
  position: relative;
  width: max-content;
}

.buttonCarrello div:first-of-type span:first-of-type{
  position: relative;
  left: 38%;
  top: 80%;
}

.carrello{
  position: relative;
  left: 80%;
  top: -30%;
}