body{
  padding: 0;
  margin: 0;
  background-color: #eaeded; 
  height: 100%;
}

html{
  scroll-behavior: smooth !important; /*per inserire una transizione delicata*/
}

a{
  text-decoration: none !important;
}

/*#region NAVBAR PRINCIPALE*/
.navbar{
  background-color: #131921;
  display: grid;
  padding: 0;
}

.buttonHeader{
  position: relative;
  top: 0%;
  text-decoration: none;
  padding-right: 20%;
}

.buttonHeader div:first-of-type{
  display: grid;
  position: relative;
  top: -15%;
  left: 15%;
  width: max-content;
}

.buttonHeader i{
  position: relative; 
  top: 50%;
}

.insertText .dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
}

.w{
  color: white !important;
}

.insertText{
  position: relative;
  left: 4%;
}

.buttonAccedi{
  position: relative;
  top: 0%;
  text-decoration: none;
  left: 60%;
  padding: 10px;
}

.buttonAccedi div:first-of-type{
  display: grid;
  position: relative;
  width: max-content;
}

.buttonOrdini{
  position: relative;
  top: 0%;
  text-decoration: none;
  left: 120%;
  padding: 10px;
}

.buttonOrdini div:first-of-type{
  display: grid;
  position: relative;
  width: max-content;
}

.buttonCarrello{
  position: relative;
  top: 0%;
  text-decoration: none;
  left: 150%;
  padding-right: 60%;
}

.buttonCarrello div:first-of-type{
  display: grid;
  position: relative;
  width: max-content;
}

.buttonCarrello div:first-of-type span:first-of-type{
  position: relative;
  left: 38%;
  top: 80%;
}

.carrello{
  position: relative;
  left: 80%;
  top: -30%;
}
/*#endregion*/


/*#region NAVBAR SECONDARIA*/
.navbarSecondaria{
  background-color: #242c3f;
  display: grid;
}

.buttonAll{
  position: relative;
  top: 0%;
  text-decoration: none;
  padding-right: 2%;
}

.buttonAll i{
  position: relative;
  top: 30%;
  text-decoration: none;
}

.buttonAll i div{
  position: relative;
  top: -55%;
  left: 50%;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}

.buttonBestSeller div,
.buttonAmazonBasic div,
.buttonClienti div,
.buttonOfferte div,
.buttonNovita div,
.buttonPrime div,
.buttonMusic div,
.buttonModa div,
.buttonLibri div,
.buttonVideogiochi div,
.buttonElettronica div,
.buttonCucina div{
  position: relative;
  top: 18%;
  font-style: normal;
  padding-left: 5%;
  width: max-content;
  padding-right: 5%;
}

.buttonBestSeller div{
  left: 10%;
}

.buttonAmazonBasic div{
  left: 30%;
}

.buttonClienti div{
  left: 45%;
}

.buttonOfferte div{
  left: 130%;
}

.buttonNovita div{
  left: 180%;
}

.buttonPrime div{
  left: 250%;
}
.buttonMusic div{
  left: 250%;
}
.buttonModa div{
  left: 350%;
}
.buttonLibri div{
  left: 550%;
}
.buttonVideogiochi div{
  left: 220%;
}
.buttonElettronica div{
  left: 270%;
}
.buttonCucina div{
  left: 230%;
}
/*#endregion*/

/*#region CAROUSEL*/
.carousel-control-prev, 
.carousel-control-next{
  bottom: 60% !important;
}
/*#endregion*/

/*#region WRAPPER*/
.wrapper{
  position: relative;
}

.wrapper > div{
  position: absolute;
}

.wrapper #carousel{
  top: 0;
  left: 0;
  z-index: 0;
}

.wrapper #cardsWrapper{
  left: 6%;
  top: 20rem;
  z-index: 1;
  width: 90%;
}

.wrapper #cardsWrapper2{
  left: 6%;
  top: 50rem;
  z-index: 2;
  width: 90%;
}

.wrapper #cardsWrapper3{
  left: 6%;
  top: 80rem;
  z-index: 3;
  width: 90%;
}

.card{
  height: 100%; 
}

.card-title{
  text-align: center;
}
/*#endregion*/

/*#region FOOTER*/
footer { 
  width:100%;
  background-color:#232f3e;
  min-height:250px;
  padding:10px 0px 25px 0px;
}
.pt2 { 
  padding-top:40px;
  margin-bottom:20px;
}
footer p {
  font-size:13px;
  color:#CCC;
  padding-bottom:0px;
  margin-bottom:8px;
}
.mb10 { 
  padding-bottom:15px;
}
.footerUl { 
  margin:0px; 
  list-style-type:none; 
  font-size:14px;
  padding:0px 0px 10px 0px;
}
.footerUl li {
  padding:0px 0px 5px 0px;
}
.footerUl li a{ 
  color:#CCC;
}
.footerUl li a:hover{ 
  color:#fff;
  text-decoration:none;
}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { 
  display:inline;
}
.foote_bottom_ul_amrc li a { 
  color:#999;
  margin:0 12px;
}
/*#endregion*/

/*#region LOGIN AND REGISTER PAGE*/
@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:wght@400;700&display=swap");
.session-title {
  padding: 30px;
  margin: 0px;
  font-family: "Bona Nova", serif;
}
.session-title h2 {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
}
.session-title p {
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}

.body {
  background-color: #e8eaef;
}

.form-container .login-container {
  box-shadow: 0 2px 6px 0 rgba(218, 218, 253, 0.65), 0 2px 6px 0 rgba(206, 206, 238, 0.54);
  margin-top: 5%;
}
.form-container .login-container .content-part {
  background-color: #f7f9fe;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 50px;
}
.form-container .login-container .content-part img {
  max-width: 100%;
}
.form-container .login-container .content-part h2 {
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 20px;
}
.form-container .login-container .content-part p {
  font-size: 0.9rem;
  text-align: center;
}
.form-container .login-container .form-part {
  background-color: #FFF;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 50px;
}
.form-container .login-container .form-part .signinlink {
  text-align: right;
  margin-top: -20px;
}
.form-container .login-container .form-part .signinlink a {
  font-weight: 600;
}
.form-container .login-container .form-part .formcol {
  margin: auto;
}
.form-container .login-container .form-part .formcol h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}
.form-container .login-container .form-part .login {
  margin: auto;
  margin-top: 110px;
}
.form-container .login-container .form-part .form-floating .btn {
  width: 100%;
  margin-top: 15px;
}
.form-container .login-container .form-part .form-floating .form-control {
  background-color: #cccccc24;
}
.form-container .login-container .form-part .form-floating .form-control:hover,
.form-container .login-container .form-part .form-floating .form-control:focus,
.form-container .login-container .form-part .form-floating .form-control:active{
  border: 2px solid #0d6efd;
  box-shadow: none;
}

.icon-properties{
  position: absolute;
  left: -13%;
  height: 100%;
  width: 13%;
}

.icon-properties span{
  position: absolute; 
  left: 35%; 
}
/*#endregion*/