body{
    padding: 0;
    margin: 0;
    background-color: #eaeded; 
    height: inherit;
  }
  
html{
    scroll-behavior: smooth !important; /*per inserire una transizione delicata*/
    height: 100%;
}
  
a{
    text-decoration: none !important;
}

/*#region NAVBAR PRINCIPALE*/
.navbar{
    background-color: #131921;
    display: grid;
    padding: 0;
  }
  
  .buttonHeader{
    position: relative;
    top: 0%;
    text-decoration: none;
    padding-right: 20%;
  }
  
  .buttonHeader div:first-of-type{
    display: grid;
    position: relative;
    top: -15%;
    left: 15%;
    width: max-content;
  }
  
  .buttonHeader i{
    position: relative; 
    top: 50%;
  }
  
  .insertText .dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .w{
    color: white !important;
  }
  
  .insertText{
    position: relative;
    left: 4%;
  }
  
  .buttonAccedi{
    position: relative;
    top: 0%;
    text-decoration: none;
    left: 60%;
    padding: 10px;
  }
  
  .buttonAccedi div:first-of-type{
    display: grid;
    position: relative;
    width: max-content;
  }
  
  .buttonOrdini{
    position: relative;
    top: 0%;
    text-decoration: none;
    left: 120%;
    padding: 10px;
  }
  
  .buttonOrdini div:first-of-type{
    display: grid;
    position: relative;
    width: max-content;
  }
  
  .buttonCarrello{
    position: relative;
    top: 0%;
    text-decoration: none;
    left: 150%;
    padding-right: 60%;
  }
  
  .buttonCarrello div:first-of-type{
    display: grid;
    position: relative;
    width: max-content;
  }
  
  .buttonCarrello div:first-of-type span:first-of-type{
    position: relative;
    left: 38%;
    top: 80%;
  }
  
  .carrello{
    position: relative;
    left: 80%;
    top: -30%;
  }
  /*#endregion*/
  
  
/*#region NAVBAR SECONDARIA*/
  .navbarSecondaria{
    background-color: #242c3f;
    display: grid;
  }
  
  .buttonAll{
    position: relative;
    top: 0%;
    text-decoration: none;
    padding-right: 2%;
  }
  
  .buttonAll i{
    position: relative;
    top: 30%;
    text-decoration: none;
  }
  
  .buttonAll i div{
    position: relative;
    top: -55%;
    left: 50%;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
  }
  
  .buttonBestSeller div,
  .buttonAmazonBasic div,
  .buttonClienti div,
  .buttonOfferte div,
  .buttonNovita div,
  .buttonPrime div,
  .buttonMusic div,
  .buttonModa div,
  .buttonLibri div,
  .buttonVideogiochi div,
  .buttonElettronica div,
  .buttonCucina div{
    position: relative;
    top: 18%;
    font-style: normal;
    padding-left: 5%;
    width: max-content;
    padding-right: 5%;
  }
  
  .buttonBestSeller div{
    left: 10%;
  }
  
  .buttonAmazonBasic div{
    left: 30%;
  }
  
  .buttonClienti div{
    left: 45%;
  }
  
  .buttonOfferte div{
    left: 130%;
  }
  
  .buttonNovita div{
    left: 180%;
  }
  
  .buttonPrime div{
    left: 250%;
  }
  .buttonMusic div{
    left: 250%;
  }
  .buttonModa div{
    left: 350%;
  }
  .buttonLibri div{
    left: 550%;
  }
  .buttonVideogiochi div{
    left: 220%;
  }
  .buttonElettronica div{
    left: 270%;
  }
  .buttonCucina div{
    left: 230%;
  }
  /*#endregion*/


/*#region WRAPPER*/
.wrapper{
  position: relative;
}

.wrapper .image{
  position: absolute;
  left: 2%;
}

tr > td:first-of-type{
  font-weight: bold;
}

.containerInfo{
  display: grid;
  width: 40%;
  position: absolute;
  top:3%;
  left: 35%;
}

.title{
  font-weight: normal;
  font-size: 18pt;
}


.containerAcquisto{
  display: grid;
  width: 20%;
  position: absolute;
  top:3%;
  /*border: 1px solid rgb(213, 209, 209);*/
  left: 78%;
}


.disponibilitàTesto{
  font-weight: bold;
  color: green;
}

.quantità label{
  margin-right: 10%;
  margin-top: 2%;
}


.containerRecensioni{
  display: grid;
  width: 75%;
  position: absolute;
  top:80%;
  border: 1px solid rgb(213, 209, 209);
  left: 0%;
  padding-left: 2%;
}
