body{
    padding: 0;
    margin: 0;
    background-color: #eaeded; 
    height: inherit;
  }
  
html{
    scroll-behavior: smooth !important; /*per inserire una transizione delicata*/
    height: 100%;
}
  
a{
    text-decoration: none !important;
}

/*#region NAVBAR PRINCIPALE*/
.navbar{
    background-color: #131921;
    display: grid;
    padding: 0;
  }
  
  .buttonHeader{
    position: relative;
    top: 0%;
    text-decoration: none;
    padding-right: 20%;
  }
  
  .buttonHeader div:first-of-type{
    display: grid;
    position: relative;
    top: -15%;
    left: 15%;
    width: max-content;
  }
  
  .buttonHeader i{
    position: relative; 
    top: 50%;
  }
  
  .insertText .dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .w{
    color: white !important;
  }
  
  .insertText{
    position: relative;
    left: 4%;
  }
  
  .buttonAccedi{
    position: relative;
    top: 0%;
    text-decoration: none;
    left: 60%;
    padding: 10px;
  }
  
  .buttonAccedi div:first-of-type{
    display: grid;
    position: relative;
    width: max-content;
  }
  
  .buttonOrdini{
    position: relative;
    top: 0%;
    text-decoration: none;
    left: 120%;
    padding: 10px;
  }
  
  .buttonOrdini div:first-of-type{
    display: grid;
    position: relative;
    width: max-content;
  }
  
  .buttonCarrello{
    position: relative;
    top: 0%;
    text-decoration: none;
    left: 150%;
    padding-right: 60%;
  }
  
  .buttonCarrello div:first-of-type{
    display: grid;
    position: relative;
    width: max-content;
  }
  
  .buttonCarrello div:first-of-type span:first-of-type{
    position: relative;
    left: 38%;
    top: 80%;
  }
  
  .carrello{
    position: relative;
    left: 80%;
    top: -30%;
  }
  /*#endregion*/
  
  
/*#region NAVBAR SECONDARIA*/
  .navbarSecondaria{
    background-color: #242c3f;
    display: grid;
  }
  
  .buttonAll{
    position: relative;
    top: 0%;
    text-decoration: none;
    padding-right: 2%;
  }
  
  .buttonAll i{
    position: relative;
    top: 30%;
    text-decoration: none;
  }
  
  .buttonAll i div{
    position: relative;
    top: -55%;
    left: 50%;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
  }
  
  .buttonBestSeller div,
  .buttonAmazonBasic div,
  .buttonClienti div,
  .buttonOfferte div,
  .buttonNovita div,
  .buttonPrime div,
  .buttonMusic div,
  .buttonModa div,
  .buttonLibri div,
  .buttonVideogiochi div,
  .buttonElettronica div,
  .buttonCucina div{
    position: relative;
    top: 18%;
    font-style: normal;
    padding-left: 5%;
    width: max-content;
    padding-right: 5%;
  }
  
  .buttonBestSeller div{
    left: 10%;
  }
  
  .buttonAmazonBasic div{
    left: 30%;
  }
  
  .buttonClienti div{
    left: 45%;
  }
  
  .buttonOfferte div{
    left: 130%;
  }
  
  .buttonNovita div{
    left: 180%;
  }
  
  .buttonPrime div{
    left: 250%;
  }
  .buttonMusic div{
    left: 250%;
  }
  .buttonModa div{
    left: 350%;
  }
  .buttonLibri div{
    left: 550%;
  }
  .buttonVideogiochi div{
    left: 220%;
  }
  .buttonElettronica div{
    left: 270%;
  }
  .buttonCucina div{
    left: 230%;
  }
  /*#endregion*/


/*#region WRAPPER*/
.wrapper{
  position: relative;
}
  
.wrapper > div{
  position: absolute;
}

.card-text{
  text-align: center;
}

.prezzo{
  font-size: 21px;
  font-weight: 400;
}

.wrapper #cardsCategorie{
  left: 20%;
  z-index: 1;
  width: 80%;     
}

.firstH3{
  width: max-content !important;
}

.bold{
  font-weight: bold;
}

.wrapper h3 a{
  font-weight: normal;
  color: rgba(16, 16, 235, 0.753) !important;
  font-size: 14pt;
}

.wrapper h3 a:hover{
  text-decoration: underline !important;
  cursor: pointer;
}

#cardsCategorie > div{
  display: contents;
}

.immagine{
  width: 60%;
  height: inherit;
  background-size: contain;
}
.marca{
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
}

.card{
  height: 26rem;
  cursor: pointer;
}

.dropdown-menu {
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
}

/*#region FOOTER*/
footer { 
    width:100%;
    background-color:#232f3e;
    min-height:250px;
    padding:10px 0px 25px 0px;
  }
  .pt2 { 
    padding-top:40px;
    margin-bottom:20px;
  }
  footer p {
    font-size:13px;
    color:#CCC;
    padding-bottom:0px;
    margin-bottom:8px;
  }
  .mb10 { 
    padding-bottom:15px;
  }
  .footerUl { 
    margin:0px; 
    list-style-type:none; 
    font-size:14px;
    padding:0px 0px 10px 0px;
  }
  .footerUl li {
    padding:0px 0px 5px 0px;
  }
  .footerUl li a{ 
    color:#CCC;
  }
  .footerUl li a:hover{ 
    color:#fff;
    text-decoration:none;
  }
  .foote_bottom_ul_amrc {
      list-style-type:none;
      padding:0px;
      display:table;
      margin-top: 10px;
      margin-right: auto;
      margin-bottom: 10px;
      margin-left: auto;
  }
  .foote_bottom_ul_amrc li { 
    display:inline;
  }
  .foote_bottom_ul_amrc li a { 
    color:#999;
    margin:0 12px;
  }
  /*#endregion*/

/*#region SLIDER*/
  
  input[type="range"] {
    display: block; -webkit-appearance: none; /*risolve il problema su chrome*/
    margin-top: 10% !important;
    background-color: #bdc3c7;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
}
  
  input[type="range"]::-webkit-slider-thumb { /*movimento che ingrandisce lo slider*/
      -webkit-appearance: none;
     background-color: #f99600;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid white;
      cursor: pointer;
      transition: .3s ease-in-out;
  }
  input[type="range"]::-webkit-slider-thumb:hover { /*hover sull'ingrandimento*/
      background-color: white;
      border: 2px solid #f99600;
  }
  input[type="range"]::-webkit-slider-thumb:active { /*controllo dell'active sull'hover*/
      transform: scale(1.6);
  }
  /*#endregion*/